/*  */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/*  */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.jr-serif{font-family:serif}.jr-sans-serif{font-family:sans-serif}.jr-cursive{font-family:cursive}.jr-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.jr-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.jr-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.jr-table,.jr-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.jr-table-all{border:1px solid #ccc}
.jr-bordered tr,.jr-table-all tr{border-bottom:1px solid #ddd}.jr-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.jr-table-all tr:nth-child(odd){background-color:#fff}.jr-table-all tr:nth-child(even){background-color:#f1f1f1}
.jr-hoverable tbody tr:hover,.jr-ul.jr-hoverable li:hover{background-color:#ccc}.jr-centered tr th,.jr-centered tr td{text-align:center}
.jr-table td,.jr-table th,.jr-table-all td,.jr-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.jr-table th:first-child,.jr-table td:first-child,.jr-table-all th:first-child,.jr-table-all td:first-child{padding-left:16px}
.jr-btn,.jr-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.jr-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.jr-btn,.jr-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.jr-disabled,.jr-btn:disabled,.jr-button:disabled{cursor:not-allowed;opacity:0.3}.jr-disabled *,:disabled *{pointer-events:none}
.jr-btn.jr-disabled:hover,.jr-btn:disabled:hover{box-shadow:none}
.jr-badge,.jr-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.jr-badge{border-radius:50%}
.jr-ul{list-style-type:none;padding:0;margin:0}.jr-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.jr-ul li:last-child{border-bottom:none}
.jr-tooltip,.jr-display-container{position:relative}.jr-tooltip .jr-text{display:none}.jr-tooltip:hover .jr-text{display:inline-block}
.jr-ripple:active{opacity:0.5}.jr-ripple{transition:opacity 0s}
.jr-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.jr-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.jr-dropdown-click,.jr-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.jr-dropdown-hover:hover .jr-dropdown-content{display:block}
.jr-dropdown-hover:first-child,.jr-dropdown-click:hover{background-color:#ccc;color:#000}
.jr-dropdown-hover:hover > .jr-button:first-child,.jr-dropdown-click:hover > .jr-button:first-child{background-color:#ccc;color:#000}
.jr-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.jr-check,.jr-radio{width:24px;height:24px;position:relative;top:6px}
.jr-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.jr-bar-block .jr-dropdown-hover,.jr-bar-block .jr-dropdown-click{width:100%}
.jr-bar-block .jr-dropdown-hover .jr-dropdown-content,.jr-bar-block .jr-dropdown-click .jr-dropdown-content{min-width:100%}
.jr-bar-block .jr-dropdown-hover .jr-button,.jr-bar-block .jr-dropdown-click .jr-button{width:100%;text-align:left;padding:8px 16px}
.jr-main,#main{transition:margin-left .4s}
.jr-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.jr-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.jr-bar{width:100%;overflow:hidden}.jr-center .jr-bar{display:inline-block;width:auto}
.jr-bar .jr-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.jr-bar .jr-dropdown-hover,.jr-bar .jr-dropdown-click{position:static;float:left}
.jr-bar .jr-button{white-space:normal}
.jr-bar-block .jr-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.jr-bar-block.jr-center .jr-bar-item{text-align:center}.jr-block{display:block;width:100%}
.jr-responsive{display:block;overflow-x:auto}
.jr-container:after,.jr-container:before,.jr-panel:after,.jr-panel:before,.jr-row:after,.jr-row:before,.jr-row-padding:after,.jr-row-padding:before,
.jr-cell-row:before,.jr-cell-row:after,.jr-clear:after,.jr-clear:before,.jr-bar:before,.jr-bar:after{content:"";display:table;clear:both}
.jr-col,.jr-half,.jr-third,.jr-twothird,.jr-threequarter,.jr-quarter{float:left;width:100%}
.jr-col.s1{width:8.33333%}.jr-col.s2{width:16.66666%}.jr-col.s3{width:24.99999%}.jr-col.s4{width:33.33333%}
.jr-col.s5{width:41.66666%}.jr-col.s6{width:49.99999%}.jr-col.s7{width:58.33333%}.jr-col.s8{width:66.66666%}
.jr-col.s9{width:74.99999%}.jr-col.s10{width:83.33333%}.jr-col.s11{width:91.66666%}.jr-col.s12{width:99.99999%}
@media (min-width:601px){.jr-col.m1{width:8.33333%}.jr-col.m2{width:16.66666%}.jr-col.m3,.jr-quarter{width:24.99999%}.jr-col.m4,.jr-third{width:33.33333%}
.jr-col.m5{width:41.66666%}.jr-col.m6,.jr-half{width:49.99999%}.jr-col.m7{width:58.33333%}.jr-col.m8,.jr-twothird{width:66.66666%}
.jr-col.m9,.jr-threequarter{width:74.99999%}.jr-col.m10{width:83.33333%}.jr-col.m11{width:91.66666%}.jr-col.m12{width:99.99999%}}
@media (min-width:993px){.jr-col.l1{width:8.33333%}.jr-col.l2{width:16.66666%}.jr-col.l3{width:24.99999%}.jr-col.l4{width:33.33333%}
.jr-col.l5{width:41.66666%}.jr-col.l6{width:49.99999%}.jr-col.l7{width:58.33333%}.jr-col.l8{width:66.66666%}
.jr-col.l9{width:74.99999%}.jr-col.l10{width:83.33333%}.jr-col.l11{width:91.66666%}.jr-col.l12{width:99.99999%}}
.jr-rest{overflow:hidden}.jr-stretch{margin-left:-16px;margin-right:-16px}
.jr-content,.jr-auto{margin-left:auto;margin-right:auto}.jr-content{max-width:980px}.jr-auto{max-width:1140px}
.jr-cell-row{display:table;width:100%}.jr-cell{display:table-cell}
.jr-cell-top{vertical-align:top}.jr-cell-middle{vertical-align:middle}.jr-cell-bottom{vertical-align:bottom}
.jr-hide{display:none!important}.jr-show-block,.jr-show{display:block!important}.jr-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.jr-auto{max-width:95%}}
@media (max-width:600px){.jr-modal-content{margin:0 10px;width:auto!important}.jr-modal{padding-top:30px}
.jr-dropdown-hover.jr-mobile .jr-dropdown-content,.jr-dropdown-click.jr-mobile .jr-dropdown-content{position:relative}	
.jr-hide-small{display:none!important}.jr-mobile{display:block;width:100%!important}.jr-bar-item.jr-mobile,.jr-dropdown-hover.jr-mobile,.jr-dropdown-click.jr-mobile{text-align:center}
.jr-dropdown-hover.jr-mobile,.jr-dropdown-hover.jr-mobile .jr-btn,.jr-dropdown-hover.jr-mobile .jr-button,.jr-dropdown-click.jr-mobile,.jr-dropdown-click.jr-mobile .jr-btn,.jr-dropdown-click.jr-mobile .jr-button{width:100%}}
@media (max-width:768px){.jr-modal-content{width:500px}.jr-modal{padding-top:50px}}
@media (min-width:993px){.jr-modal-content{width:900px}.jr-hide-large{display:none!important}.jr-sidebar.jr-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.jr-hide-medium{display:none!important}}
@media (max-width:992px){.jr-sidebar.jr-collapse{display:none}.jr-main{margin-left:0!important;margin-right:0!important}.jr-auto{max-width:100%}}
.jr-top,.jr-bottom{position:fixed;width:100%;z-index:1}.jr-top{top:0}.jr-bottom{bottom:0}
.jr-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.jr-display-topleft{position:absolute;left:0;top:0}.jr-display-topright{position:absolute;right:0;top:0}
.jr-display-bottomleft{position:absolute;left:0;bottom:0}.jr-display-bottomright{position:absolute;right:0;bottom:0}
.jr-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.jr-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.jr-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.jr-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.jr-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.jr-display-container:hover .jr-display-hover{display:block}.jr-display-container:hover span.jr-display-hover{display:inline-block}.jr-display-hover{display:none}
.jr-display-position{position:absolute}
.jr-circle{border-radius:50%}
.jr-round-small{border-radius:2px}.jr-round,.jr-round-medium{border-radius:4px}.jr-round-large{border-radius:8px}.jr-round-xlarge{border-radius:16px}.jr-round-xxlarge{border-radius:32px}
.jr-row-padding,.jr-row-padding>.jr-half,.jr-row-padding>.jr-third,.jr-row-padding>.jr-twothird,.jr-row-padding>.jr-threequarter,.jr-row-padding>.jr-quarter,.jr-row-padding>.jr-col{padding:0 8px}
.jr-container,.jr-panel{padding:0.01em 16px}.jr-panel{margin-top:16px;margin-bottom:16px}
.jr-code,.jr-codespan{font-family:Consolas,"courier new";font-size:16px}
.jr-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.jr-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.jr-card,.jr-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.jr-card-4,.jr-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.jr-spin{animation:jr-spin 2s infinite linear}@keyframes jr-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.jr-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.jr-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.jr-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.jr-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.jr-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.jr-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.jr-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.jr-animate-input{transition:width 0.4s ease-in-out}.jr-animate-input:focus{width:100%!important}
.jr-opacity,.jr-hover-opacity:hover{opacity:0.60}.jr-opacity-off,.jr-hover-opacity-off:hover{opacity:1}
.jr-opacity-max{opacity:0.25}.jr-opacity-min{opacity:0.75}
.jr-greyscale-max,.jr-grayscale-max,.jr-hover-greyscale:hover,.jr-hover-grayscale:hover{filter:grayscale(100%)}
.jr-greyscale,.jr-grayscale{filter:grayscale(75%)}.jr-greyscale-min,.jr-grayscale-min{filter:grayscale(50%)}
.jr-sepia{filter:sepia(75%)}.jr-sepia-max,.jr-hover-sepia:hover{filter:sepia(100%)}.jr-sepia-min{filter:sepia(50%)}
.jr-tiny{font-size:10px!important}.jr-small{font-size:12px!important}.jr-medium{font-size:15px!important}.jr-large{font-size:18px!important}
.jr-xlarge{font-size:24px!important}.jr-xxlarge{font-size:36px!important}.jr-xxxlarge{font-size:48px!important}.jr-jumbo{font-size:64px!important}
.jr-left-align{text-align:left!important}.jr-right-align{text-align:right!important}.jr-justify{text-align:justify!important}.jr-center{text-align:center!important}
.jr-border-0{border:0!important}.jr-border{border:1px solid #ccc!important}
.jr-border-top{border-top:1px solid #ccc!important}.jr-border-bottom{border-bottom:1px solid #ccc!important}
.jr-border-left{border-left:1px solid #ccc!important}.jr-border-right{border-right:1px solid #ccc!important}
.jr-topbar{border-top:6px solid #ccc!important}.jr-bottombar{border-bottom:6px solid #ccc!important}
.jr-leftbar{border-left:6px solid #ccc!important}.jr-rightbar{border-right:6px solid #ccc!important}
.jr-section,.jr-code{margin-top:16px!important;margin-bottom:16px!important}
.jr-margin{margin:16px!important}.jr-margin-top{margin-top:16px!important}.jr-margin-bottom{margin-bottom:16px!important}
.jr-margin-left{margin-left:16px!important}.jr-margin-right{margin-right:16px!important}
.jr-padding-small{padding:4px 8px!important}.jr-padding{padding:8px 16px!important}.jr-padding-large{padding:12px 24px!important}
.jr-padding-16{padding-top:16px!important;padding-bottom:16px!important}.jr-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.jr-padding-32{padding-top:32px!important;padding-bottom:32px!important}.jr-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.jr-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.jr-padding-top-64{padding-top:64px!important}.jr-padding-top-48{padding-top:48px!important}
.jr-padding-top-32{padding-top:32px!important}.jr-padding-top-24{padding-top:24px!important}
.jr-left{float:left!important}.jr-right{float:right!important}
.jr-button:hover{color:#000!important;background-color:#ccc!important}
.jr-transparent,.jr-hover-none:hover{background-color:transparent!important}
.jr-hover-none:hover{box-shadow:none!important}
/* Colors */
.jr-amber,.jr-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.jr-aqua,.jr-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.jr-blue,.jr-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.jr-light-blue,.jr-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.jr-brown,.jr-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.jr-cyan,.jr-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.jr-blue-grey,.jr-hover-blue-grey:hover,.jr-blue-gray,.jr-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.jr-green,.jr-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.jr-light-green,.jr-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.jr-indigo,.jr-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.jr-khaki,.jr-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.jr-lime,.jr-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.jr-orange,.jr-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.jr-deep-orange,.jr-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.jr-pink,.jr-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.jr-purple,.jr-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.jr-deep-purple,.jr-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.jr-red,.jr-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.jr-sand,.jr-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.jr-teal,.jr-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.jr-yellow,.jr-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.jr-white,.jr-hover-white:hover{color:#000!important;background-color:#fff!important}
.jr-black,.jr-hover-black:hover{color:#fff!important;background-color:#000!important}
.jr-grey,.jr-hover-grey:hover,.jr-gray,.jr-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.jr-light-grey,.jr-hover-light-grey:hover,.jr-light-gray,.jr-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.jr-dark-grey,.jr-hover-dark-grey:hover,.jr-dark-gray,.jr-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.jr-pale-red,.jr-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.jr-pale-green,.jr-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.jr-pale-yellow,.jr-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.jr-pale-blue,.jr-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.jr-text-amber,.jr-hover-text-amber:hover{color:#ffc107!important}
.jr-text-aqua,.jr-hover-text-aqua:hover{color:#00ffff!important}
.jr-text-blue,.jr-hover-text-blue:hover{color:#2196F3!important}
.jr-text-light-blue,.jr-hover-text-light-blue:hover{color:#87CEEB!important}
.jr-text-brown,.jr-hover-text-brown:hover{color:#795548!important}
.jr-text-cyan,.jr-hover-text-cyan:hover{color:#00bcd4!important}
.jr-text-blue-grey,.jr-hover-text-blue-grey:hover,.jr-text-blue-gray,.jr-hover-text-blue-gray:hover{color:#607d8b!important}
.jr-text-green,.jr-hover-text-green:hover{color:#4CAF50!important}
.jr-text-light-green,.jr-hover-text-light-green:hover{color:#8bc34a!important}
.jr-text-indigo,.jr-hover-text-indigo:hover{color:#3f51b5!important}
.jr-text-khaki,.jr-hover-text-khaki:hover{color:#b4aa50!important}
.jr-text-lime,.jr-hover-text-lime:hover{color:#cddc39!important}
.jr-text-orange,.jr-hover-text-orange:hover{color:#ff9800!important}
.jr-text-deep-orange,.jr-hover-text-deep-orange:hover{color:#ff5722!important}
.jr-text-pink,.jr-hover-text-pink:hover{color:#e91e63!important}
.jr-text-purple,.jr-hover-text-purple:hover{color:#9c27b0!important}
.jr-text-deep-purple,.jr-hover-text-deep-purple:hover{color:#673ab7!important}
.jr-text-red,.jr-hover-text-red:hover{color:#f44336!important}
.jr-text-sand,.jr-hover-text-sand:hover{color:#fdf5e6!important}
.jr-text-teal,.jr-hover-text-teal:hover{color:#009688!important}
.jr-text-yellow,.jr-hover-text-yellow:hover{color:#d2be0e!important}
.jr-text-white,.jr-hover-text-white:hover{color:#fff!important}
.jr-text-black,.jr-hover-text-black:hover{color:#000!important}
.jr-text-grey,.jr-hover-text-grey:hover,.jr-text-gray,.jr-hover-text-gray:hover{color:#757575!important}
.jr-text-light-grey,.jr-hover-text-light-grey:hover,.jr-text-light-gray,.jr-hover-text-light-gray:hover{color:#f1f1f1!important}
.jr-text-dark-grey,.jr-hover-text-dark-grey:hover,.jr-text-dark-gray,.jr-hover-text-dark-gray:hover{color:#3a3a3a!important}
.jr-border-amber,.jr-hover-border-amber:hover{border-color:#ffc107!important}
.jr-border-aqua,.jr-hover-border-aqua:hover{border-color:#00ffff!important}
.jr-border-blue,.jr-hover-border-blue:hover{border-color:#2196F3!important}
.jr-border-light-blue,.jr-hover-border-light-blue:hover{border-color:#87CEEB!important}
.jr-border-brown,.jr-hover-border-brown:hover{border-color:#795548!important}
.jr-border-cyan,.jr-hover-border-cyan:hover{border-color:#00bcd4!important}
.jr-border-blue-grey,.jr-hover-border-blue-grey:hover,.jr-border-blue-gray,.jr-hover-border-blue-gray:hover{border-color:#607d8b!important}
.jr-border-green,.jr-hover-border-green:hover{border-color:#4CAF50!important}
.jr-border-light-green,.jr-hover-border-light-green:hover{border-color:#8bc34a!important}
.jr-border-indigo,.jr-hover-border-indigo:hover{border-color:#3f51b5!important}
.jr-border-khaki,.jr-hover-border-khaki:hover{border-color:#f0e68c!important}
.jr-border-lime,.jr-hover-border-lime:hover{border-color:#cddc39!important}
.jr-border-orange,.jr-hover-border-orange:hover{border-color:#ff9800!important}
.jr-border-deep-orange,.jr-hover-border-deep-orange:hover{border-color:#ff5722!important}
.jr-border-pink,.jr-hover-border-pink:hover{border-color:#e91e63!important}
.jr-border-purple,.jr-hover-border-purple:hover{border-color:#9c27b0!important}
.jr-border-deep-purple,.jr-hover-border-deep-purple:hover{border-color:#673ab7!important}
.jr-border-red,.jr-hover-border-red:hover{border-color:#f44336!important}
.jr-border-sand,.jr-hover-border-sand:hover{border-color:#fdf5e6!important}
.jr-border-teal,.jr-hover-border-teal:hover{border-color:#009688!important}
.jr-border-yellow,.jr-hover-border-yellow:hover{border-color:#ffeb3b!important}
.jr-border-white,.jr-hover-border-white:hover{border-color:#fff!important}
.jr-border-black,.jr-hover-border-black:hover{border-color:#000!important}
.jr-border-grey,.jr-hover-border-grey:hover,.jr-border-gray,.jr-hover-border-gray:hover{border-color:#9e9e9e!important}
.jr-border-light-grey,.jr-hover-border-light-grey:hover,.jr-border-light-gray,.jr-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.jr-border-dark-grey,.jr-hover-border-dark-grey:hover,.jr-border-dark-gray,.jr-hover-border-dark-gray:hover{border-color:#616161!important}
.jr-border-pale-red,.jr-hover-border-pale-red:hover{border-color:#ffe7e7!important}.jr-border-pale-green,.jr-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.jr-border-pale-yellow,.jr-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.jr-border-pale-blue,.jr-hover-border-pale-blue:hover{border-color:#e7ffff!important}